<div class="tile is-ancestor">
  <div class="tile is-parent is-2 has-text-centered is-vertical">
    <article class="tile is-child notification is-success">
      <div class="columns is-centered">
        <div class="column is-narrow">
          <p class="title"><%= @artist.name %></p>
          <figure class="image is-square">
            <img src="<%= @artist.images.first['url'] %>">
          </figure>
        </div>
      </div>
    </article>
    <article class="tile is-child notification is-success">
      <div class="columns is-centered">
        <div class="column is-narrow">
          <p class="title">Genres</p>
          <table class="table is-striped is-hoverable">
            <tbody>
            <% @artist.genres.each do |genre| %>
              <tr><td><%= genre %></td></tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </article>
    <article class="tile is-child notification is-success">
      <div class="columns is-centered">
        <div class="column is-narrow">
          <p class="title">Popularity:</p>
          <p class="subtitle is-1"><%= @artist.popularity %></p>
        </div>
      </div>
    </article>
  </div>
  <div class="tile is-parent is-2 has-text-centered">
    <article class="tile is-child notification is-info">
      <div class="columns is-centered">
        <div class="column is-narrow">
          <p class="title">Related Artists</p>
          <table class="table is-striped is-hoverable">
            <tbody>
            <% @artist.related_artists.each do |artist| %>
              <tr>
                <td>
                  <%= link_to artist.name, controller: 'spotify', action: 'artist', id: artist.id %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </article>
  </div>
  <div class="tile is-5 is-vertical">
    <div class="tile is-parent has-text-centered">
      <article class="tile is-child notification is-info">
        <div class="columns is-centered">
          <div class="column is-narrow">
            <p class="title">Top Songs</p>
            <table class="table is-striped is-hoverable">
              <thead>
              <th>Song</th>
              <th>Album</th>
              </thead>
              <tbody>
              <% @artist.top_tracks(:US).each do |track| %>
                <tr>
                  <td><%= track.name %></td>
                  <td><%= track.album.name %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </article>
    </div>
    <div class="tile is-parent has-text-centered">
      <article class="tile is-child notification is-info">
        <div class="columns is-centered">
          <% @artist.albums(limit: 5, album_type: 'album').each do |album| %>
            <div class="column">
              <p class="title"><%= album.name %></p>
              <img src="<%= album.images.first['url'] if album.images.any? %>">
            </div>
          <% end %>
        </div>
      </article>
    </div>
  </div>
</div>