<%= javascript_include_tag "application" %>

<div class="container">
  <div class="columns">
    <div class="column">
      <%= form_with(url: recommendation_result_spotify_index_path, method: "post", local: true) do %>
        <div class="columns">
          <div class="column">
            <table class="table">
              <tbody>
                <% @top_artists.each_with_index do |artist, index| %>
                  <tr>
                    <td>
                      <%= check_box_tag(:"#{artist.name}", "#{artist.id}", false, class: "is-checkradio recommendation-input", name: "artist_#{index}", id: "#{artist.id}") %>
                      <%= label_tag(:"#{artist.id}", artist.name) %>
                    </td>
                  </tr>
                <% end %>
                <% 5.times do |i| %>
                  <tr>
                    <td>
                      <%= check_box_tag(:"artist-submit-#{i}", "", false, class: "is-checkradio recommendation-input") %>
                      <%= label_tag(:"artist-submit-#{i}", "") %>
                      <%= text_field_tag("artist-submit-text-#{i}", nil, placeholder: "Artist name", class: "input is-pulled-right recommendation-input", style: "width: 80%") %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="column">
            <%= label_tag(:acousticness, 'Acousticness', title: 'Acousticness measures the likelihood a track is acoustic. High acousticness represents a high likelihood the track is acoustic.') %>
            <%= range_field_tag(:acousticness, :acousticness, in: 1..100, step: 1, class: 'slider is-fullwidth recommendation-input') %>

            <%= label_tag(:danceability, 'Danceability', title: 'How suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity.') %>
            <%= range_field_tag(:danceability, :danceability, in: 1..100, step: 1, class: 'slider is-fullwidth recommendation-input') %>

            <%= label_tag(:energy, 'Energy', title: 'Typically, tracks with high energy tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale.') %>
            <%= range_field_tag(:energy, :energy, in: 1..100, step: 1, class: 'slider is-fullwidth recommendation-input') %>

            <%= label_tag(:instrumentalness, 'Instrumentalness', title: 'Instrumentalness tracks the likelihood the track contains no vocal content. High instrumentalness represents an increased probability the track has no vocals.') %>
            <%= range_field_tag(:instrumentalness, :instrumentalness, in: 1..100, step: 1, class: 'slider is-fullwidth recommendation-input') %>

            <%= label_tag(:liveness, 'Liveness', title: 'Liveness detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live.') %>
            <%= range_field_tag(:liveness, :liveness, in: 1..100, step: 1, class: 'slider is-fullwidth recommendation-input') %>

            <%= label_tag(:loudness, 'Loudness', title: 'Loudness values are averaged across the entire track. Tracks with high loudness are, you guessed it, louder.') %>
            <%= range_field_tag(:loudness, :loudness, in: 1..100, step: 1, class: 'slider is-fullwidth recommendation-input') %>

            <%= label_tag(:popularity, 'Popularity', title: 'The popularity is calculated by algorithm and is based, in the most part, on the total number of plays the track has had and how recent those plays are.') %>
            <%= range_field_tag(:popularity, :popularity, in: 1..100, step: 1, class: 'slider is-fullwidth recommendation-input') %>

            <%= label_tag(:valence, 'Valence', title: 'The musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry)') %>
            <%= range_field_tag(:valence, :valence, in: 1..100, step: 1, class: 'slider is-fullwidth recommendation-input') %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="column">
      <h3 id="help-text" class="title is-3">Choose at least 1 artist to see recommendations<br><br>Hover over the slider attributes to learn more about them</h3>
      <h4 id="error-text" class="title is-3" hidden>If you entered an artist, make sure it is spelled correctly. If an artist cannot be found for a search, it will be ignored.</h4>
      <progress id="progress-bar" class="progress is-medium is-dark is-hidden" max="100">45%</progress>
      <table class="table" id="recommendation-table" hidden>
        <thead>
        <tr>
          <td><b>Title</b></td>
          <td><b>Artist</b></td>
          <td><b>Album</b></td>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <input class="input is-hidden" id="playlist-name" type="text" placeholder="Playlist name" style="width: 50%">
      <a class="button is-success is-hidden" id="save-button">
        <strong>Save as playlist</strong>
      </a>
    </div>
  </div>
</div>