<div class="columns">
  <div class="column">
    <h3 class="subtitle">Top Songs the Month</h3>
    <table class="table is-striped is-hoverable">
      <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
      </tr>
      </thead>
      <tbody>
      <% @spotify_user.top_tracks(time_range: 'short_term').each do |track| %>
        <tr>
          <td><%= track.name %></td>
          <td>
            <a href="<%=  %>">
              <%= track.artists.first.name %>
            </a>
          </td>
          <td><%= track.album.name %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="column">
    <h3 class="subtitle">Top Songs the last 6 Months</h3>
    <table class="table is-striped is-hoverable">
      <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
      </tr>
      </thead>
      <tbody>
      <% @spotify_user.top_tracks(time_range: 'medium_term').each do |track| %>
        <tr>
          <td><%= track.name %></td>
          <td><%= track.artists.first.name %></td>
          <td><%= track.album.name %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="column">
    <h3 class="subtitle">Top Songs of All Time</h3>
    <table class="table is-striped is-hoverable">
      <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
      </tr>
      </thead>
      <tbody>
      <% @spotify_user.top_tracks(time_range: 'long_term').each do |track| %>
        <tr>
          <td><%= track.name %></td>
          <td><%= track.artists.first.name %></td>
          <td><%= track.album.name %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
