<!DOCTYPE html>
<html>
<%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
  <head>
    <title>Statify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render "layouts/navbar" %>
  </head>

  <body>
  <div class="section">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </body>

  <footer>
    <div class="section">
      Website created by <a href="https://xanderriga.com">Xander Riga</a>
    </div>
  </footer>
</html>
